/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Better text styling */
	font: bold 14px Arial, sans-serif;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

html{
	background-color: #000100;
}

body {
	text-align: center;
}

body > img {
	max-width: 480px;
	padding-top: 20px;
}

body h1 {
	color: white;
}

/* Using box shadows to create 3D effects */
#calculator {
	min-width: 480px;
	width: 50%;

	min-height: 480px;
	height: 50%;

	margin: 50px auto 100px auto;
	padding: 20px 20px 9px;

	background: #469ad0;
}

/* Top portion */
.top span.clear {
	float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
	height: 17%;
	width: 74%;

	font-size: 40px !important;
	padding-top: 16px;
	
	float: right;
	
	padding: 0 10px;
	
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 17px;
	line-height: 70px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	min-width: 24%;
	min-height: 18%;
	
	background: purple;
	border-radius: 3px;
	/*box-shadow: 0px 4px rgba(0, 0, 0, 0.2);*/
	
	margin: 0 7px 11px 0;

	font-size: 40px;
	padding-top: 20px;
	
	color: #000100;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

@media screen and (max-width: 1127px) {
	.keys span, .top span.clear {
		min-width: 23%;
	}
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #00ddd4;
	margin-right: 0;
}

.keys span.eval {
	background: #a300df;
	/*box-shadow: 0px 4px #E75113;*/
	color: #000100;
}

.top span.clear {
	background: #1984df;
	/*box-shadow: 0px 4px #E75113;*/
	color: #000100;
}

/* Some hover effects */
.keys span:hover {
	background: #e75113;
	color: white;
}

.keys span.eval:hover {
	background: #e75113;
	color: #ffffff;
}

.top span.clear:hover {
	background: #e75113;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	top: 4px;
}

.keys span.eval:active {
	top: 4px;
}

.top span.clear:active {
	top: 4px;
}